@model MVCPanaderia.Models.DTOs.VentaDTO
@{
    ViewBag.Title = "Delete";
}

<style>
    body {
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: #cd7137;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>
<h2>Eliminar Venta</h2>

<h3>¿Está seguro de que desea eliminar esta venta?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.VentaID)</dt>
        <dd>@Html.DisplayFor(model => model.VentaID)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProductoID)</dt>
        <dd>@Html.DisplayFor(model => model.ProductoID)</dd>

        <dt>@Html.DisplayNameFor(model => model.Cantidad)</dt>
        <dd>@Html.DisplayFor(model => model.Cantidad)</dd>

        <dt>@Html.DisplayNameFor(model => model.Precio)</dt>
        <dd>@Html.DisplayFor(model => model.Precio)</dd>

      

        <dt>@Html.DisplayNameFor(model => model.Fecha)</dt>
        <dd>@Html.DisplayFor(model => model.Fecha)</dd>
    </dl>

    @using (Html.BeginForm("Delete", "Ventas", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions">
            <input type="submit" value="Eliminar" class="btn btn-danger" />
            @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>