@model MVCPanaderia.Models.DTOs.VentaDTO
@{
    ViewBag.Title = "Details";
}

<style>
    body {
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: #cd7137;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>
<h2>Detalles de la Venta</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.VentaID)</dt>
        <dd>@Html.DisplayFor(model => model.VentaID)</dd>

        <dt>@Html.DisplayNameFor(model => model.ProductoID)</dt>
        <dd>@Html.DisplayFor(model => model.ProductoID)</dd>

        <dt>@Html.DisplayNameFor(model => model.Cantidad)</dt>
        <dd>@Html.DisplayFor(model => model.Cantidad)</dd>

        <dt>@Html.DisplayNameFor(model => model.Precio)</dt>
        <dd>@Html.DisplayFor(model => model.Precio)</dd>

        <dt>@Html.DisplayNameFor(model => model.Total)</dt>
        <dd>@Html.DisplayFor(model => model.Total)</dd>

        <dt>@Html.DisplayNameFor(model => model.Fecha)</dt>
        <dd>@Html.DisplayFor(model => model.Fecha)</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.VentaID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-default" })
</p>