@model MVCPanaderia.Models.DTOs.ProductoDTO
@{
    ViewBag.Title = "Details";
}

<style>
    body {
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: #cd7137;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>
<h2>Detalles del Producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.ProductoID)</dt>
        <dd>@Html.DisplayFor(model => model.ProductoID)</dd>

        <dt>@Html.DisplayNameFor(model => model.NombreProducto)</dt>
        <dd>@Html.DisplayFor(model => model.NombreProducto)</dd>

        <dt>@Html.DisplayNameFor(model => model.TipoProducto)</dt>
        <dd>@Html.DisplayFor(model => model.TipoProducto)</dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProductoID }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Volver al Listado", "Index", null, new { @class = "btn btn-default" })
</p>

