
@model IEnumerable<MVCPanaderia.Models.DTOs.GalletoDTO>
@{
    ViewBag.Title = "Index";
}

<style>
    body {
        margin: 0;
        font-family: var(--bs-body-font-family);
        font-size: var(--bs-body-font-size);
        font-weight: var(--bs-body-font-weight);
        line-height: var(--bs-body-line-height);
        color: var(--bs-body-color);
        text-align: var(--bs-body-text-align);
        background-color: #cd7137;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
</style>

<h2>Lista de Galleteros</h2>

<p>
    @Html.ActionLink("Crear Nuevo Galletero", "Create", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.EmpleadoID)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Ocupacion)</th>
            <th>@Html.DisplayNameFor(model => model.TipoGalleta)</th>
            <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
            <th>@Html.DisplayNameFor(model => model.Stock)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.EmpleadoID)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Ocupacion)</td>
                <td>@Html.DisplayFor(modelItem => item.TipoGalleta)</td>
                <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.EmpleadoID }, new { @class = "btn btn-sm btn-warning" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.EmpleadoID }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.EmpleadoID }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>