@model CamnionesWebMVCv1.Models.DTOs.Ruta

@{
    ViewBag.Title = "Edit";
}

<style>
    .edit-title {
        color: #0d6efd;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .card-edit {
        background-color: #f8f9fa;
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        max-width: 950px;
    }

        .card-edit h4 {
            color: #198754;
            margin-bottom: 15px;
        }

    .btn-save {
        background-color: #0d6efd;
        color: white;
        padding: 8px 20px;
        border-radius: 6px;
        border: none;
    }

        .btn-save:hover {
            background-color: #0b5ed7;
        }

    .btn-cancel {
        background-color: #6c757d;
        color: white;
        padding: 8px 20px;
        border-radius: 6px;
        text-decoration: none;
        margin-left: 10px;
    }
</style>

<h2 class="edit-title">Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal card-edit">
        <h4>Ruta</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdRutas)

        <div class="form-group">
            @Html.LabelFor(model => model.IdChofer, "Chofer", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdChofer", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdChofer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCamion, "Camión", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdCamion", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdCamion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Origen, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Origen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Origen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Destino, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Destino, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaSalida, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaSalida, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaSalida, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaLlegada, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaLlegada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaLlegada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ATiempo, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ATiempo)
                    @Html.ValidationMessageFor(model => model.ATiempo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distancia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distancia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Distancia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaRegistro, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaRegistro, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaRegistro, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn-save" />
                <a href="@Url.Action("Index")" class="btn-cancel">Back to List</a>
            </div>
        </div>
    </div>
}
